:root {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    background: #9C835F;
    font-family: Open Sans;
}

header {
    width: 97%;
    height: 50px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    align-items: center;

}

.gotoback {
    color: #724C21;
    font-size: 40px;
    text-decoration: none;
}

img {
    width: 30%;
    padding-left: 20px;
    flex-direction: row;
    justify-content: center;
}

h3 {

    font-size: 25px;
    color: #F9B23D;
    font-family: Open sans;
    font-weight: bold;
    text-align: center;
}

h2 {

    font-size: 20px;
    color: #F9B23D;
    font-family: Open sans;
    font-weight: bold;
    text-align: center;
}

.gamesuit {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50%;
    font-family: Open Sans;
}

.boxoption {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 70px;
    font-weight: bold;
}

.hand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    padding: 30px;
}

.hand:hover {
    cursor: pointer;
    transform: scale(80%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: bisque;
    border-radius: 100%;
}

.vs {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: red;
    font-size: 80px;
    font-weight: bold;
    width: 20%;
    position: relative;
    text-align: center;
}

.reload {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    margin: 0 auto;
}

.reload:hover {
    transform: scale(250%);
}

#out1game {
    width: 150px;
    height: 100px;
    transform: rotate(-30deg);
    background-color: green;
    font-size: 15px;
    color: blanchedalmond;
    font-weight: bold;
}